page-login {
    .bg {
        background: #1c3249
    }
    .log-icon {
        margin-top: 30%;
        margin-bottom: 10%;
    }
    .btn-log .button {
        background-color: #e5a72a;
    }
    .header-custom .toolbar-background {
        background: #1c3249;
    }
    .header-custom .toolbar-title {
        color: #fff;
    }
    .input-lis {
        // margin-top: 50%;
    }
    .log-icon p {
        text-align: center;
        font-size: 45px;
        color: #fff;
    }
    .log-icon p .span-p {
        color: #e5a72a;
    }
}

// yellow
// e5a72a
// blue
// #1c3249